div(id='topbar')
			div(id='logo') Pub!
			ul
				li
					a(href='/') Home
				li 
					a(href='/about') About Us
				li
					a(href='/findapub') Find Me A Pub
				li
					a(href='/addpub') Add Your Pub

				if username
					//- reverse order, sorry not sorry
					li(style="float: right;")
						a(href='/logout') Logout
					li(style="float: right;")
						a(href=`/user/${username}`) Profile
				else
					li(style="float: right;")
						a(href='/login') Login / Sign Up
