div(id='topbar')
			div(id='logo') Pub!
			ul
				li
					a(href='/') Home
				li 
					a(href='/about') About
				li
					a(href='/findapub') Find Me a Pub
				li
					a(href='/addpub') Add Your Pub!
				li(style="float: right;")
					a(href='/login') Login/Signup