html
	head
		title Pub! - About
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/homeStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')

	body
		include ../views/elements/topbar.pug

		#contents
			h1 About us

			p Pub is an app that is all about social interaction and meeting new people. 
			| Pub helps you to meet new people and even be rewarded for doing so! Interacting with other Pub users gives you points that you can accumulate for your profile. 
			| Various pubs and bars that are registered with us will give out discounts, and other offers, to people who have a specific number of points. 
			p The more points you have, the better your rewards!