html
	head
		title Pub! - About
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/homeStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')

	body
		include ../views/elements/topbar.pug

		#contents
			h1 About us

			p Pub is an app that is all about social interaction and meeting new people. 
			p Pub helps you to meet new people and even be rewarded for doing so! Interacting with other Pub users gives you points that you can accumulate for your profile. 
			p Various pubs and bars that are registered with us will give out discounts, and other offers, to people who have a specific number of points. 
			p The more points you have, the better your rewards!
			
			p Pub was developed by 6 students from the University of Liverpool in 2018 as part of their second year group project. Aaron "Rudeboi" Butterworth, Chris Gurney, Hamza Rajnalvee, Jamil Triaa, Rob Wainwright, and Harvey "He's Trying" Williams all contributed in making Pub what it is today! 
			p Sign up today for a a fun, brand-new experience!
			p Follow us on social media for updates: 
			p Twitter: 
				a(href='https://twitter.com/Pub_Group') @Pub_Group
			p Facebook: 
				a(href='https://www.facebook.com/pubGroup18/') @pubGroup18
			p Email us for any enquiries: pubGroup18@gmail.com