html
	head
		title Pub! - #{name}
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/pubStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
	body
		include ../views/elements/topbar.pug