html
	head
		title Pub! - Admin Panel
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/formStyle.css
			include ../public/css/userStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
	body
		include ../views/elements/topbar.pug

		#contents
			h4 All Pubs:
			each value in result
				div(class='pub')
					h4 
						a(href="/pubs/"+value.url) #{value.name}
					p Owner: #{value.owner}
					form(action="/admin/delete" method="post" id=value.url)
						script.
								var something = function(url) {
									var check = window.confirm('Are you sure?')
									if(check == true) {
										document.getElementById(url).submit();
									}
								}
						input(type="hidden" name="pubID" value=`${value.id}`)
						button(onclick='something(\''+value.url+'\')' type='button') Delete pub

					