html
	head
		title Pub! - Harvey
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/formStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
		-
			var latitude = lat;
			var longitude = lng;
	body
		#map(style='height: 400px;width: 100%;')
		script(lat= `${lat}` lng=`${lng}` src='/js/map.js' id="boi")
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqYM9hSp5-xP0X-_b2G10nKQCvpTccX-0&callback=initMap")

		
			