html
	head
		title Pub!
		style
			include ../public/css/coreStyles.css
			include ../public/css/homeStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')

	body
		div(id='topbar')
			div(id='logo') Pub!
			ul
				li
					a(href='/') Home
				li 
					a(href='/about') About
				li
					a(href='/findapub') Find Me a Pub

		div(id='contents')
			h2 Welcome to Pub!

			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			p Aenean potenti est leo cubilia interdum purus class curae nibh, pulvinar cursus lacus montes nam accumsan hac dis vehicula imperdiet, in ac consequat suscipit rhoncus conubia metus blandit. Tristique feugiat nibh aliquam netus libero primis gravida, cras hendrerit aliquet suspendisse ad. Ante sollicitudin nunc ullamcorper elementum himenaeos non praesent curae accumsan pretium litora sem cras velit libero, dui ornare purus aptent nullam quam lacinia mi vulputate porta placerat suspendisse aliquet iaculis