html
	head
		title Pub!
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/homeStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')

	body
		include ../views/elements/topbar.pug

		#contents
			
			.row	
				.col50
				h1 <center>Welcome to Pub</center>
				//- Put these two in the centre of the page, along with the logo above it. //
				p <center>Drink anywhere</center>
					
			.row
				.col33
					//- Left block //

					h2 Check In
					p Check into pubs that
					p you visit and see who's
					p there.

					//-
						These small blocks of text
						should be side-by-side, not
						beneath each other.
					//
				.col33
					//- Middle block //
					h2 Meet New People
					p Meet other users
					p who are at the same
					p pub as you, and scan
					p their unique QR code
					p to earn points.
				.col33
					//- Right block
					h2 Get Rewards
					p Pubs will provide you
					p with discounts and offers
					p based off of your points
					p total.
