html
	head
		title Pub!
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/homeStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')

	body
		include ../views/elements/topbar.pug

		#contents
			h1 Welcome to Pub!

			p *Insert slogan here*

			p Check In
			| Check into pubs that 
			| you visit and see who's
			| there.
			
			//- 
				These small blocks of text 
				should be side-by-side, not
				beneath each other.
			// 
			p Meet New People		 
			| Meet other users	
			| who are at the same 
			| pub as you, and scan 
			| their unique QR code 
			| to earn points.
			
			p Get Rewards
			| Pubs will provide you
			| with discounts and offers
			| based off of your points
			| total. 
			
	
