html
	head
		title Pub!
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/homeStyle.css
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')

	body
		include ../views/elements/topbar.pug


		#contents
			.row
				.col100
					h1 Welcome to Pub!
					p Drink anywhere
					
			br
			
			//-.row
				.col33
					//- Left block //
					h2 Check In
					p Check into pubs that
					p you visit and see who's
					p there.

				.col33
					//- Middle block //
					h2 Meet New People
					p Meet other users
					p who are at the same
					p pub as you, and earn
					p points by doing so.

				.col33
					//- Right block
					h2 Get Rewards
					p Pubs will provide you
					p with discounts and offers
					p based off of your points
					p total.
			#map(style="height:400px; width: 100%;")
			script(src="js/location.js")
			script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqYM9hSp5-xP0X-_b2G10nKQCvpTccX-0")