html
	head
		title Pub!
		link(href='/favicon.png', rel='icon')
		style
			include ../public/css/coreStyles.css
			include ../public/css/formStyle.css
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')

	body
		include ../views/elements/topbar.pug

		#contents
			h1 Profile login
				form(action="/findauser", method="post")
					h2 Enter your username:
					input(type="text", name="name", maxlength="40")
					br 
					input(type="submit" value="Search")
			if query
				hr
				if user
					div(class='pub')
						h4 
							a(href="/users/"+value.url) #{value.name}
				else
					h4 Sorry, we didn't find any users with that name. 